# Entorno virtual
venv/
env/
.env

# Base de datos (cada quien crea la suya con migrate)
db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py

# IDEs
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db
